$color-me: #9300c3;
$color-others: #ff9443;

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* px -> 300cpi cm 로 변환하는 함수 */
@function px-to-cm($value) {  
  @return $value * 0.008466667cm;
}