@import "func";
@import url("reset.css");

body {
  background-color: #f6f6f6;
  @include flex_center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1140px;
  height: 760px;  
  padding-top: 160px;
  border-radius: 40px;
  background-color: #fff;
  .inLeader {
    font-size: 60px;
    font-weight: 800;    
    letter-spacing: -1.2px;   
    line-height: 1.2; 
    color: #000;
    span {color: $color-me;}
  }

  p {
    font-size: 20px;
    font-weight: 500;  
    letter-spacing: -0.4px;    
    color: #7f7f7f;
  }

  input[type=text] {
    height: 60px;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #ccc;
    background-color: #fff;
    font-size: 18px;  
    line-height: 1.11;
    letter-spacing: -0.36px;
    text-align: left;

    &::placeholder {color: #ccc}
  }  

  .clMe {color: $color-me !important;}
  .bgMe {background-color: $color-me !important;}
  .clOther {color: $color-others !important;}  
  .bgOther {background-color: $color-others !important;}  

  .highlight {
    font-size: 24px;
    font-weight: 800;    
    letter-spacing: -0.48px;    
    color: $color-me;
  }

  .btn-main {
    width: 300px;
    height: 60px;    
    border-radius: 30px;  
    font-size: 22px;
    font-weight: 600;    
    letter-spacing: -0.44px;
    text-align: center;
    color: #fff;  
    background: $color-me;
  }
  .btn-white {
    width: 300px;
    height: 60px;    
    border-radius: 30px;
    border: solid 1px #aaa;
    background-color: #fff;
    font-size: 22px;
    font-weight: 600;  
    letter-spacing: -0.44px;
    text-align: center;
    color: #7f7f7f;
  }
}

.start1 {  
  .inLeader {margin-bottom: 14px;}
  .content {    
    display: flex;
    gap: 20px;
    .btn-target {
      cursor: pointer;
      margin-top: 80px;
      font-size: 22px;
      font-weight: 600;      
      letter-spacing: -0.44px;    
      color: #fff;
      width: 320px;
      height: 180px;      
      padding: 29.8px 30px 20px 29.5px;
      border-radius: 20px;  
      background-image: url(../assets/img_arrow@3x.png);    
      background-size: 82px 17px;
      background-position: right 30px bottom 20px;
      background-repeat: no-repeat;
    }
  }
  p {text-align: center;}
}

.start2 {
  .content {
    height: 269px;
    width: 480px;
    padding-top: 100px;    
    display: flex;
    flex-direction: column;
    gap: 20px;

    &.next{
      display: none;
      padding-top: 76px;
      text-align: center;
    }
  }  

  &.others {
    .content {
      .highlight {
        color: $color-others;
      }
    }
    .btn-main {background: $color-others;}
  }
}

.message {
  padding-top: 0;
  justify-content: center;
  p {
    font-size: 24px;
    font-weight: 800;    
    letter-spacing: -0.48px;
    text-align: center;
    color: #000;
    span {color: $color-me;}
  }  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-height: 186px;
      max-width: 186px;
      margin-top: 20px;      
    }
  }
  .btn-main {margin-top: 58px;}
}

.diagnosis {
  padding: 40px;

  .progressWrap {
    position: relative;
    width: 100%;
    border-radius: 13px;
    progress {         
      height: 26px;
      width: 100%;      
      &::-webkit-progress-bar {
        height: 26px;
        border-radius: 13px;
        border: solid 1px #cecece;
        background-color: #fff;
      }
      &::-webkit-progress-value {
        height: 26px;
        border-radius: 13px;
        border: 0;
        background-color: $color-me;
        background-image: url(../assets/img_run@3x.png);
        background-repeat: no-repeat;
        background-size: 30px 26px;
        background-position: right -3px top 0;
      }
      &::-moz-progress-bar {
        border: 0;
        height: 13px;
        border-radius: 20px;
      }      
    }
    .status {
      height: 21px;
      // margin-top: 12px;
      font-size: 18px;
      font-weight: bold;            
      line-height: 1.67;
      letter-spacing: -0.36px;
      text-align: center;
      color: #acacac;
    }   
  }
  .content {
    flex: 1;
    .itemsText{
      margin-top: 90px;
      margin-bottom: 45px;
      font-size: 24px;
      font-weight: 800;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.48px;
      text-align: center;
      color: $color-me;
    }
    .selectWrap {
      @include flex_center;
      position: relative;
      width: 260px;
      height: 260px;
      border: 1px solid #e1e1e1;
      border-radius: 50%;
      background-color: #fff;
      .selScore {
        font-size: 100px;
        font-weight: 500;      
        letter-spacing: -2px;
        text-align: center;    
        color: $color-me;    
      }
      ul.fullCircle {
        position: absolute;
        width: 100%;
        height: 100%;

        li {
          cursor: pointer;
          @include flex_center;
          position: absolute;
          height: 38px;
          width: 38px;
          border: solid 1px #aaa;
          border-radius: 50%;
          background-color: #fff;
          font-size: 18px;
          font-weight: 800;          
          letter-spacing: -0.36px;
          text-align: center;
          color: #7f7f7f;

          &.on {
            border: none;
            color: #fff;
            background: $color-me;
          }

          &:first-child {
            top: 87%;
            left: 20%;
          }
          &:nth-child(2){
            top: 67%;
            left: -3%;
          }
          &:nth-child(3){
            top: 38%;
            left: -8%;
          }        
          &:nth-child(4){
            top: 13%;
            left: 3%;
          }        
          &:nth-child(5){
            top: -5%;
            left: 25%;
          }        
          &:nth-child(6){
            top: -5%;
            left: 58%;
          }        
          &:nth-child(7){
            top: 13%;
            left: 82%;
          }        
          &:nth-child(8){
            top: 38%;
            left: 91%;
          }        
          &:nth-child(9){
            top: 67%;
            left: 86%;
          }        
          &:nth-child(10){
            top: 87%;
            left: 65%;
          }        
        }
      }
    }
  }
  
  &.desc {
    .progressWrap {
      .imgProgress {
        // width: 100%;
        position: absolute;
        top: 0;
        left: 95%;
        height: 26px;
        width: 26px;
        background: #fff;
        border-radius: 50%;
        z-index: 3;
      }
    }
    .content {
      width: 480px;
      .itemsText {margin-bottom: 20px;}
      textarea {
        width: 100%;
        height: 280px;
        padding: 20px;
        border-radius: 10px;
        border: solid 1px #ccc;
        background-color: #fff;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.36px;

        &::placeholder{color: #ccc;}
      }
    }
    .btnGroup {
      display: flex;
      gap: 7px;

      button {        
        width: 235px;        
      }
    }
  }

}
.wrapper.others {
  progress::-webkit-progress-value {background-color: $color-others !important;}
  .selScore, .itemsText, .clMain {color: $color-others !important;}  
  ul.fullCircle li.on, .btn-main {background-color: $color-others !important;}  
}

